<!-- section navigation -->
<%= render :partial => "admin/shared/nav_content" %>

<!-- [module:pages]-->
<div id="yield-wrapper">

  <!-- header -->
  <%= render :partial => "edit_header" %>

  <!-- pages content -->
  <div id="module-wrapper">
    <div class="column-wrapper">

      <!-- alerts -->
      <%= render :partial => "admin/shared/alert_green" if flash[:notice] %>

      <%= render :partial => "admin/shared/alert_red" if flash[:error] %>

			<%= errors_for 'newsletter' %>
    
      <!-- content options -->
      <%= render :partial => "content_control" %>

      <!-- left pane -->
      <% form_tag send_mail_admin_newsletter_url(@newsletter) do %>
				
				<div class="box">
				  <h3><%= _('Cím és Bevezető') %></h3>
				  <div class="content">

				    <fieldset>
				      <label for="newsletter_title">Címzettek ,szóközzel elválasztva:</label>
							<input type="text" name="recipients" class="wide caption" />
				    </fieldset>
				  </div>
				</div>
				
        <div class="wide-control">
          <div class="inner">
            <input type="submit" value="<%= _('Elküldöm a tesztet') %>" class="submit" />
          </div>
        </div>
      
      <% end %>
    
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- [eomodule:pages]-->